body {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #182d38;
  line-height: 1.4;
  font-size: 13px;
}

.inner {
  position:relative;
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.three-column {
  display: inline;
  float:left;
  width: 293px;
  margin: 0 20px 0 0;
}

strong {
  font-weight: bold;
}

a {
  color: #4183C4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h3 {
  font-size: 14px;
  margin-bottom: 9px;
}

header {
  width: 100%;
  height:60px;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #cacaca;
}

header .logo {
  float: left;
  height: 30px;
  width: 131px;
  background: url('../images/logo-pages.png') top left no-repeat;
  overflow: hidden;
  padding: 0;
  margin: 15px 0 0 0;
}

header .logo a {
  display: block;
  text-indent: -5000px;
}

a.button.classy {
  display: inline-block;
  float:right;
  margin: 14px 40px 0 0;
  padding: 5px 10px;
  color: #474747;
  font-weight:bold;
  text-shadow: 0 1px #fff;

  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  border-radius: 3px;
  border-radius: 3px;
  border-radius: 3px;

  background: #f5f5f5;
  background: -webkit-linear-gradient(top, #f5f5f5, #e5e5e5);
  background: -moz-linear-gradient(top, #f5f5f5, #e5e5e5);
  background: -ms-linear-gradient(top, #f5f5f5, #e5e5e5);
  background: -0-linear-gradient(top, #f5f5f5, #e5e5e5);
  background: linear-gradient(top, #f5f5f5, #e5e5e5);
}

a.button.classy:hover {
  background: -webkit-linear-gradient (top, #f0f7fa, #d8eaf2);
  background: -moz-linear-gradient (top, #f0f7fa, #d8eaf2);
  background: -ms-linear-gradient (top, #f0f7fa, #d8eaf2);
  background: -o-linear-gradient (top, #f0f7fa, #d8eaf2);
  background: linear-gradient (top, #f0f7fa, #d8eaf2);
  border-color: #cbe3ee;
  border-bottom-color: #97c7dd;
  color: #337797;
}

h3.thinner {
  width: 920px;
  margin-top: 40px;
  font-weight: 300;
  font-size: 30px;
  text-align: left;
  margin: 0 0 40px 0;
  text-transform: capitalize;
  text-align: center;
}

#hero-spot {
  height: 440px;
  background: -webkit-linear-gradient(top, #4b90c3, #0d63a3);
  background: -moz-linear-gradient(top, #4b90c3, #0d63a3);
  background: -ms-linear-gradient(top, #4b90c3, #0d63a3);
  background: -o-linear-gradient(top, #4b90c3, #0d63a3);
  background: gradient(top, #4b90c3, #0d63a3);
}

#hero-spot .inner {
  height: 440px;
  background: url('../images/displays-2.png') no-repeat;
  background-position: 50% 100%;
}

#hero-spot h2 {
  position: relative;
  top: 36px;
  width: 940px;
  color: #fff;
  font-size: 36px;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0 0 5px #114166;
}

section#content {
  padding: 40px 0;
  -webkit-box-shadow: 0 -5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 -5px 10px rgba(0,0,0,.2);
  -ms-box-shadow: 0 -5px 10px rgba(0,0,0,.2);
  -o-box-shadow: 0 -5px 10px rgba(0,0,0,.2);
  box-shadow: 0 -5px 10px rgba(0,0,0,.2);
}

ol.screencap-list li {
  display: inline;
  float: left;
  width: 293px;
  margin: 0 20px 20px 0;
  list-style: numeric;
  font-size: 24px;
  text-align: center;
}

ol.screencap-list img {
  display: block;
  height: 215px;
  width: 293px;
  margin: 0px 0 20px 0;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border: none;
  border-radius: 5px;

  box-shadow: 0 0 5px rgba(0,0,0,.3);
}

hr {
  width: 960px;
  height: 50px;
  margin: 20px 0;
  background: url(../images/hr-blacktocat.png) no-repeat;
  clear: both;
  border: none;
  outline: 0;
}