body {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #182d38;
  line-height: 1.4;
  font-size: 13px;
}

.inner {
  position:relative;
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.three-column {
  display: inline;
  float:left;
  width: 293px;
  margin: 0 20px 0 0;
}

strong {
  font-weight: bold;
}

a {
  color: #4183C4;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h3 {
  font-size: 14px;
  margin-bottom: 9px;
}

header {
  width: 100%;
  height:46px;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #cacaca;
  box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 5px 10px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 5px 10px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 0 rgba(255,255,255,0.4), 0 5px 10px rgba(0,0,0,0.2);

  background: -webkit-linear-gradient(top, #fafafa, #eaeaea);
  background: -moz-linear-gradient(top, #fafafa, #eaeaea);
  background: -ms-linear-gradient(top, #fafafa, #eaeaea);
  background: -o-linear-gradient(top, #fafafa, #eaeaea);
  background: linear-gradient(top, #fafafa, #eaeaea);
}

header .logo {
  float: left;
  height: 30px;
  width: 131px;
  background: url('../images/logo-pages.png') top left no-repeat;
  overflow: hidden;
  padding: 0;
  margin: 9px 0 0 0;
}

header .logo a {
  display: block;
  text-indent: -5000px;
}

a.button.classy {
  display: inline-block;
  float:right;
  margin: 7px 40px 0 0;
  padding: 5px 10px;
  color: #474747;
  font-weight:bold;
  text-shadow: 0 1px #fff;

  border: 1px solid #ddd;
  border-bottom-color: #bbb;
  border-radius: 3px;
  border-radius: 3px;
  border-radius: 3px;

  background: #f5f5f5;
  background: -webkit-linear-gradient(top, #f5f5f5, #e5e5e5);
  background: -moz-linear-gradient(top, #f5f5f5, #e5e5e5);
  background: -ms-linear-gradient(top, #f5f5f5, #e5e5e5);
  background: -0-linear-gradient(top, #f5f5f5, #e5e5e5);
  background: linear-gradient(top, #f5f5f5, #e5e5e5);
}

a.button.classy:hover {
  background: -webkit-linear-gradient (top, #f0f7fa, #d8eaf2);
  background: -moz-linear-gradient (top, #f0f7fa, #d8eaf2);
  background: -ms-linear-gradient (top, #f0f7fa, #d8eaf2);
  background: -o-linear-gradient (top, #f0f7fa, #d8eaf2);
  background: linear-gradient (top, #f0f7fa, #d8eaf2);
  border-color: #cbe3ee;
  border-bottom-color: #97c7dd;
  color: #337797;
}

h3.thinner {
  width: 920px;
  margin-top: 40px;
  font-weight: 300;
  font-size: 30px;
  text-align: left;
  margin: 0 0 40px 0;
  text-transform: capitalize;
  text-align: center;
}

#hero-spot {
  height: 310px;
  background: -webkit-linear-gradient(top, #4b90c3, #0d63a3);
  background: -moz-linear-gradient(top, #4b90c3, #0d63a3);
  background: -ms-linear-gradient(top, #4b90c3, #0d63a3);
  background: -o-linear-gradient(top, #4b90c3, #0d63a3);
  background: gradient(top, #4b90c3, #0d63a3);
}

#hero-spot .inner {
  height: 310px;
  background: url('../images/displays.png') no-repeat;
  background-position: 85% 100%;
}

#hero-spot h2 {
  position: absolute;
  top: 45px;
  width: 360px;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0px;
  text-shadow: 0 0 5px #114166;
}

section#content {
  padding: 40px 0;
  -webkit-box-shadow: 0 -5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 -5px 10px rgba(0,0,0,.2);
  -ms-box-shadow: 0 -5px 10px rgba(0,0,0,.2);
  -o-box-shadow: 0 -5px 10px rgba(0,0,0,.2);
  box-shadow: 0 -5px 10px rgba(0,0,0,.2);
}

ol.screencap-list li {
  display: inline;
  float: left;
  width: 293px;
  margin: 0 20px 20px 0;
  list-style: numeric;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

ol.screencap-list span img {
  display: block;
  height: 215px;
  width: 293px;
  margin: 0px 0 10px 0;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border: none;
  border-radius: 5px;

  box-shadow: 0 0 5px rgba(0,0,0,.3);
}

hr {
  width: 960px;
  height: 50px;
  margin: 20px 0;
  background: url(../images/hr-blacktocat.png) no-repeat;
  clear: both;
  border: none;
  outline: 0;
}

footer {
  color: #636363;
  padding: 45px 0 0 0;
  font-size: 12px;
  clear: both;
}

footer a:hover {
  text-decoration: underline;
}

footer li {
  list-style: none;
}

footer .upper_footer {
  min-height: 160px;
  overflow: hidden;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: inset 0 -1px 0 #fff;
  background-color: #f8f8f8;
}

footer #blacktocat {
  height:130px;
  width:164px;
  float:left;
  background: url(../images/blacktocat.svg) no-repeat left 50%;
  text-indent: -5000px;
  margin: 15px 20px 0 0;
}

footer #blacktocat_ie {
  height:130px;
  width:164px;
  float:left;
  background: url(../images/blacktocat.png) no-repeat;
  text-indent: -5000px;
  margin: 15px 20px 0 0;
}

footer .upper_footer ul.footer_nav {
  position: relative;
  float: left;
  width: 164px;
  margin: 20px 10px;
}

footer .upper_footer ul.footer_nav h4 {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: thin solid #e1e1e1;
}

footer .lower_footer {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  clear:both;
}

footer .lower_footer #legal {
  float: left;
  width:350px;
  height: 60px;
  line-height: 8px;
  margin: 25px 0 0 15px;
  padding-left: 179px;
  background: url(../images/footer-logo.svg) 0 5px no-repeat;
}

footer .lower_footer #legal_ie {
  float: left;
  width:350px;
  height: 50px;
  line-height: 8px;
  margin: 25px 0 0 18px;
  padding-left: 180px;
  background: url(../images/footer-logo.png) top left no-repeat;
}

footer .lower_footer div ul {
  float: left;
  text-indent: none;
  display:inline;
  margin-top: 15px;

}

footer .lower_footer div ul li {
  display:inline;
  float: left;
  margin: 0 10px 2px 0;
}

footer .lower_footer div p {
  display:inline;
  float:left;
  clear: both;
  margin-top: 5px;
}

footer .lower_footer .sponsor {
  width: 295px;
  float: right;
  margin-top: 35px;
  padding-bottom: 25px;
}

footer .lower_footer .sponsor .logo {
 float:left;
 margin: 0 10px 0 0;
}

footer .lower_footer .sponsor a {
  color: #000;
}
