<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>GitHub Pages - {{ page.title }}</title>
    
    <link href="/shared/css/documentation.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="main">
      <div id="header-wrapper">
        <div id="header" class="basic" >
          <div class="site">
              <a class="logo" href="/"><img src="logo_pages.png" alt="github pages" width="196" height="45"/></a>
            <div class="topsearch">
              <ul class="nav logged_out">
                <li><a href="http://support.github.com/">Support</a></li>
                <li><a href="http://github.com/">Back to GitHub</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="wrapper">
        <div id="content" class="site">

          {{ content }}

        </div>
      </div>

      <div class="push"></div>
    </div>

     <div id="footer-wrapper">
      <div id="footer">
        <div class="left-col">
          <h2 class="logo"><a href="http://github.com">Brought to you by GitHub</a></h2>
          <ul class="github-nav">
            <li><a href="http://github.com/blog" class="blog">The GitHub Blog</a></li>
            <li><a href="http://support.github.com">Support</a></li>
            <li><a href="http://github.com/contact">Contact</a></li>
            <li><a href="http://developer.github.com">API</a></li>
          </ul>
          <p class="copyline">&copy; 2011 GitHub Inc. All rights reserved</p>
        </div>
        <div class="right-col">
          <p class="rackspace">Powered by the <a href="http://rackspace.com" target="_blank">Dedicated Servers</a> and <a href="http://rackspacecloud.com" target="_blank">Cloud Computing</a> of Rackspace Hosting&reg;</p>
        </div>
      </div>
    </div>
  </body>
</html>
